<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2 col-sm-12 offset-sm-0 col-xs-12"><br><br>
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Nueva Cuenta</h3>

          <form action="?b=createPerf" method="post" id="fnb">

          <div class="form-group">
            <input type="number" class="form-control" name="documento" placeholder="Documento" autofocus required>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="nombre" placeholder="Nombres" required>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="apellido" placeholder="Apellidos" required>
          </div>
          <div class="form-group">
            <input type="email" class="form-control" name="correo" placeholder="Correo" required>
          </div>
          <div class="form-group">
            <select class="form-control" form="fnb" name="rol">
              <option selected>Seleccione un Tipo de Cuenta</option>
              <option value="2">Barbero</option>
              <option value="1">Administrador</option>
              <option value="3">Cliente</option>
            </select>
          </div>


          <button class="btn btn-primary btn-block" type="submit">Crear</button>
          <a class="btn btn-block btn-secondary" type="button" href="?b=listAcounts">Cancelar</a>
        </form>

        </div>
      </div>
    </div>
  </div>
</div>
