<div class="container">
  <br><br>
  <div class="card">
    <div class="card-body">
      <h3 class="card-title">Nueva publicacion</h3>

      <form action="?b=createPub" method="post">

      <div class="form-group">
        <input type="text" class="form-control" name="titulo" placeholder="Titulo" value="">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" name="texto" placeholder="Texto" value="">
      </div>
      <div class="form-group">
        <input type="file" class="form-control-file" name="url">
      </div>
      <button class="btn btn-primary btn-block" type="submit" name="button">Aceptar</button>

    </form>

    </div>
  </div>
</div>
